.customCreateInventoryModal {
	background: white;
	max-width: 600px !important;
	width: 100%;
	max-height: 250px;
	height: 100%;
}

.onhand-control {
	max-width: 8rem;
}

.customUpdateInventoryModal {
	background: white;
	max-width: 600px !important;
	width: 100%;
	max-height: 300px;
	height: 100%;
}

