@model MakeMyCapAdmin.Controllers.Model.UserIdentity;

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container border" style="padding: 20px;">
	<form method="post" action="/login/recoverpassword">
	    <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
				
		<div class="form-group row" style="padding: 10px;">
			<span class="col-2">
				&nbsp;
			</span>
			<span class="col-6">
				Provide the Email your account is registered with.  If it exists in this sytem, an Email with instructions to change your password will be sent to you.  Be sure to check you spam folder if you have not received it in a few minutes.
			</span>
		</div>
		
		<div class="form-group row" style="padding: 10px;">
			<div class="col-2">
				<label asp-for="Email" class="control-label"></label>
			</div>
			<div class="col-6">
				<input type="text" asp-for="Email" class="form-control"/>
				<span class="text-danger field-validation-valid" asp-validation-for="Email"></span>
			</div>
		</div>
		
		<div class="form-group row" style="padding: 10px;">
        	<div class="col-2">
        	</div>
        	<div class="col-6">
        		<button type="submit" class="btn btn-primary">Help me change my password</button>
        	</div>
        </div>
	</form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
