@model List<MakeMyCapAdmin.CQS.Response.DistributorResponse>;

@{
    ViewData["Title"] = "SKU mapping";
}
<h1>@ViewData["Title"]</h1>

    <div class="row col-12" style="padding:4px;">
        <div class="border border-success rounded col-12 row" style="padding: 4px; margin: 4px;">
            <div class="col-2">
            	<label class="control-label">Select distributor:</label>
            </div>
            <div class="col-4">
                <select id="SelectDistributor" class="form-control" onchange="changeView(this.value)">
                    @foreach (var distributor in @Model)
                    {
                        <option value="@distributor.DistributorCode">@distributor.DistributorName</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <button class="form-control btn-primary" onclick="addSku()">Add Sku</button>
            </div>
        </div>
        <div id="SkuList" class="border border-primary rounded col-12 row" style="padding: 4px; margin: 4px;">
            @* @await Html.PartialAsync("_DistributorSkus", @Model) *@
        </div>
    </div>

@section Scripts {
    <script>
    function changeView(distributorCode) {
		$("#SkuList").load("/Home/DistributorSkus/" + distributorCode);
	}
	
	function addSku() {
        window.location.href = '@Url.Action("AddSku", "Home")';
	}
	
	$(document).ready(function() {
		changeView($("#SelectDistributor option:first").val());
    });
</script>
}
