@model MakeMyCapServer.Controllers.Model.ServiceStatus;

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4" style="padding-bottom: 10px">Make My Cap Server</h1>
    
    <h4>Please log into configure or view status</h4>
    <h6><a class="nav-link text-primary" asp-area="" asp-controller="Login" asp-action="Index">Click to Log in</a></h6>
</div>
