@model MakeMyCapServer.Controllers.Model.NotificationEmails;

@{
    ViewData["Title"] = "Configure Notifications";
}
<h1 style="padding-bottom: 10px;">@ViewData["Title"]</h1>

<div class="container border border-warning" style="padding: 20px;">
    <form method="post" action="/home/notifications">
        <div asp-validation-summary="ModelOnly" class="alert-danger"></div>

        <div class="form-group row" style="padding: 10px;">
            <span class="col-2">
                &nbsp;
            </span>
            <span class="col-6">
                These first Email addresses are sent WARNING/STATUS Emails with information from the server that may be of interest.  The system is not too "chatty" but there may be a few messages sent throughout a day.  One Email is required and up to three will be accepted.
            </span>
        </div>
        
        <div class="form-group row" style="padding: 10px;">
            <div class="col-2">
                <label asp-for="WarningEmail1" class="control-label"></label>
            </div>
            <div class="col-6">
                <input type="email" asp-for="WarningEmail1" class="form-control"/>
                <span class="text-danger field-validation-valid" asp-validation-for="WarningEmail1"></span>
            </div>
        </div>
            
        <div class="form-group row" style="padding: 10px;">
            <div class="col-2">
                <label asp-for="WarningEmail2" class="control-label"></label>
            </div>
            <div class="col-6">
                <input type="email" asp-for="WarningEmail2" class="form-control"/>
                <span class="text-danger field-validation-valid" asp-validation-for="WarningEmail2"></span >
            </div>
        </div>
                			
        <div class="form-group row" style="padding: 10px;">
            <div class="col-2">
                <label asp-for="WarningEmail3" class="control-label"></label>
            </div>
            <div class="col-6">
                <input type="email" asp-for="WarningEmail3" class="form-control"/>
                <span class="text-danger field-validation-valid" asp-validation-for="WarningEmail3"></span >
            </div>
        </div>
        
        <div class="form-group row" style="padding: 10px;">
            <span class="col-2">
                &nbsp;
            </span>
            <span class="col-6">
                These Email addresses are sent CRITICAL Emails with information from the server that needs some action to be taken.  These message should be rare.  One Email is required and up to three will be accepted.  It is recommended that there be three recipients to ensure action is taken.
            </span>
        </div>

        <div class="form-group row" style="padding: 10px;">
            <div class="col-2">
                <label asp-for="CriticalEmail1" class="control-label"></label>
            </div>
            <div class="col-6">
                <input type="email" asp-for="CriticalEmail1" class="form-control"/>
                <span class="text-danger field-validation-valid" asp-validation-for="CriticalEmail1"></span>
            </div>
        </div>
        	
        <div class="form-group row" style="padding: 10px;">
            <div class="col-2">
                <label asp-for="CriticalEmail2" class="control-label"></label>
            </div>
            <div class="col-6">
                <input type="email" asp-for="CriticalEmail2" class="form-control"/>
                <span class="text-danger field-validation-valid" asp-validation-for="CriticalEmail2"></span >
            </div>
        </div>
        			
        <div class="form-group row" style="padding: 10px;">
            <div class="col-2">
                <label asp-for="CriticalEmail3" class="control-label"></label>
            </div>
            <div class="col-6">
                <input type="email" asp-for="CriticalEmail3" class="form-control"/>
                <span class="text-danger field-validation-valid" asp-validation-for="CriticalEmail3"></span >
            </div>
        </div>
        
        <div class="form-group row" style="padding: 10px;">
            <div class="col-2">
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Update notification emails</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
