@model MakeMyCapServer.Controllers.Model.Settings;

@{
    ViewData["Title"] = "Configure settings";
}
<h1 style="padding-bottom: 10px;">@ViewData["Title"]</h1>

<div class="container border border-primary" style="padding: 20px;">
	<form method="post" action="/home/settings">
		<div asp-validation-summary="ModelOnly" class="alert-danger"></div>

		<div class="form-group row" style="padding: 10px;">
			<div class="col-2">
				<label asp-for="InventoryCheckHours" class="control-label"></label>
			</div>
			<div class="col-6">
				<input type="number" asp-for="InventoryCheckHours" class="form-control"/>
				<span class="text-danger field-validation-valid" asp-validation-for="InventoryCheckHours"></span>
			</div>
		</div>
			
		<div class="form-group row" style="padding: 10px;">
			<div class="col-2">
				<label asp-for="FulfillmentCheckHours" class="control-label"></label>
			</div>
			<div class="col-6">
				<input type="number" asp-for="FulfillmentCheckHours" class="form-control"/>
				<span class="text-danger field-validation-valid" asp-validation-for="FulfillmentCheckHours"></span >
			</div>
		</div>
					
		<div class="form-group row" style="padding: 10px;">
			<div class="col-2">
				<label asp-for="NextPoSequence" class="control-label"></label>
			</div>
			<div class="col-6">
				<input type="number" asp-for="NextPoSequence" class="form-control"/>
				<span class="text-danger field-validation-valid" asp-validation-for="NextPoSequence"></span >
			</div>
		</div>
		
		<div class="form-group row" style="padding: 10px;">
			<div class="col-2">
			</div>
			<div class="col-6">
				<button type="submit" class="btn btn-primary">Update settings</button>
			</div>
		</div>
	</form>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}